
.search_btn, .upload_btn{
    margin: 20px 0;
}

.wrapper{
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: lightgray;
}

.header_views{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form_register{
    display: flex;
    flex-direction: column;
}

input{
    width: 300px;
}

